*{
    font-family:'Raleway', sans-serif;
}
body{
    font-family:'Raleway', sans-serif;
    color: #E0E1DD;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    position: relative;
    font-size: 16px;
    transition: color 0.3s;
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    border-radius: 4px;
    bottom: 0;
    right: 0;
    background-color: #E0E1DD;
    transition: width 0.3s ease-in-out;
}
.nav-link:hover::after {
    width: 100%;
    left: 0;
}


 .intro{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items:center;
    flex-direction:row;
}

.waveAnimation{
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
@keyframes wave-animation{
    0% { transform: rotate(0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate(0.0deg) }
  100% { transform: rotate(0.0deg) }
}

.typesymbol{
    position: relative;
    font-weight: 600;
}
.typesymbol::after{
    content: '|';
    animation: blink 1s steps(2, start) infinite;
    margin-left: 2px;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



